### Importing libraries

In [94]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import re
import numpy as np

In [95]:
# URL of the Wikipedia page
# url = "https://en.wikipedia.org/wiki/List_of_career_achievements_by_Cristiano_Ronaldo"
url = "https://en.wikipedia.org/wiki/List_of_career_achievements_by_Lionel_Messi"

# Send an HTTP GET request to the URL
response = requests.get(url)

# Check if the request was successful (status code 200)
if response.status_code == 200:
    # Parse the HTML content of the page
    soup = BeautifulSoup(response.text, "html.parser")

    # Find all "wikitable" tables on the page
    tables = soup.find_all("table", {"class": "wikitable"})

    # Initialize an empty list to store DataFrames
    dfs = []

    # Process each table and create a DataFrame
    for table in tables:
        # Initialize an empty list to store data
        data = []

        # Extract table data
        for row in table.find_all("tr"):
            row_data = [cell.text.strip() for cell in row.find_all(["td", "th"])]
            data.append(row_data)

        # Create a DataFrame from the data
        df = pd.DataFrame(data)

        # If the DataFrame has more than one row, set the first row as headers
        if len(df) > 1:
            headers = df.iloc[0]
            df = df[1:]
            df.columns = headers

        # Reset the DataFrame index
        df.reset_index(drop=True, inplace=True)

        dfs.append(df)

    # Now, dfs is a list of DataFrames, each containing one "wikitable" section
    # You can access and manipulate these DataFrames as needed.

    # Print the first few rows of each DataFrame
    for i, df in enumerate(dfs):
        print(f"Table {i+1}:")
        print(df.head())
else:
    print("Failed to retrieve the webpage. Status code:", response.status_code)

Table 1:
0 Season / year                                   Competition  \
0       2004–05                                       La Liga
1          2005  South American U-20 Championship Third place
2          2005                           FIFA U-20 World Cup
3          2005                           Supercopa de España
4       2005–06                                       La Liga

0 Club / national team  Ref.
0            Barcelona   [4]
1        Argentina U20   [5]
2                  [6]  None
3            Barcelona   [4]
4                 None  None
Table 2:
0        Year                       1st                              2nd  \
0        2010  Lionel Messi (Barcelona)       Andrés Iniesta (Barcelona)
1  Percentage                    22.65%                           17.36%
2        2011  Lionel Messi (Barcelona)  Cristiano Ronaldo (Real Madrid)
3  Percentage                    47.88%                           21.60%
4        2012  Lionel Messi (Barcelona)  Cristiano Ronaldo (Real Madrid)

0                         3rd
0            Xavi (Barcelona)
1                      16.48%
2            Xavi (Barcelona)
3                       9.23%
4  Andrés Iniesta (Barcelona)
Table 3:
0    Year                                    1st  \
0    2007                           Kaká (Milan)
1  Points                                    444
2    2008  Cristiano Ronaldo (Manchester United)
3  Points                                    446
4    2009               Lionel Messi (Barcelona)

0                                                2nd  \
0              Cristiano Ronaldo (Manchester United)
1                                                277
2                           Lionel Messi (Barcelona)
3                                                281
4  Cristiano Ronaldo (Manchester United/Real Madrid)

0                          3rd
0     Lionel Messi (Barcelona)
1                          255
2  Fernando Torres (Liverpool)
3                          179
4             Xavi (Barcelona)
Table 4:
0    Year                                    1st  \
0    2007                           Kaká (Milan)
1  Points                                   1047
2    2008  Cristiano Ronaldo (Manchester United)
3  Points                                    935
4    2009               Lionel Messi (Barcelona)

0                                                2nd  \
0                           Lionel Messi (Barcelona)
1                                                504
2                           Lionel Messi (Barcelona)
3                                                678
4  Cristiano Ronaldo (Manchester United/Real Madrid)

0                                    3rd
0  Cristiano Ronaldo (Manchester United)
1                                    426
2            Fernando Torres (Liverpool)
3                                    203
4                       Xavi (Barcelona)
Table 5:
0        Year                              1st                          2nd  \
0        2016  Cristiano Ronaldo (Real Madrid)     Lionel Messi (Barcelona)
1  Percentage                           34.54%                       26.42%
2        2017  Cristiano Ronaldo (Real Madrid)     Lionel Messi (Barcelona)
3  Percentage                           43.16%                       19.25%
4        2019         Lionel Messi (Barcelona)  Virgil van Dijk (Liverpool)

0                                     3rd
0     Antoine Griezmann (Atlético Madrid)
1                                   7.53%
2  Neymar (Barcelona/Paris Saint-Germain)
3                                   6.97%
4            Cristiano Ronaldo (Juventus)
Table 6:
0  Year   Golden Ball    Silver Ball   Bronze Ball Ref(s)
0  2014  Lionel Messi  Thomas Müller  Arjen Robben   [34]
1  2022  Lionel Messi  Kylian Mbappé   Luka Modrić   [35]
Table 7:
0  Year   Golden Ball           Silver Ball     Bronze Ball Ref(s)
0  2009  Lionel Messi  Juan Sebastián Verón            Xavi   [36]
1  2011  Lionel Messi                  Xavi          Neymar   [37]
2  2015   Luis Suárez          Lionel Messi  Andrés Iniesta   [38]
Table 8:
0       Season                            1st  \
0  2010–11[71]       Lionel Messi (Barcelona)
1       Points                             39
2      2011–12     Andrés Iniesta (Barcelona)
3       Points                             19
4      2012–13  Franck Ribéry (Bayern Munich)

0                                                2nd  \
0                                   Xavi (Barcelona)
1                                                 11
2  Lionel Messi and Cristiano Ronaldo (Barcelona ...
3                                                 17
4                           Lionel Messi (Barcelona)

0                              3rd
0  Cristiano Ronaldo (Real Madrid)
1                                3
2                             None
3                             None
4  Cristiano Ronaldo (Real Madrid)
Table 9:
0       Season                              1st                        2nd  \
0  2016–17[76]  Cristiano Ronaldo (Real Madrid)   Lionel Messi (Barcelona)
1       Points                              359                        147
2  2017–18[77]  Cristiano Ronaldo (Real Madrid)  Mohamed Salah (Liverpool)
3       Points                              287                        218
4  2018–19[78]         Lionel Messi (Barcelona)     Sadio Mané (Liverpool)

0                           3rd
0       Paulo Dybala (Juventus)
1                            64
2      Lionel Messi (Barcelona)
3                            43
4  Cristiano Ronaldo (Juventus)
Table 10:
0   Season Goals Points
0  2009–10    34     68
1  2011–12    50    100
2  2012–13    46     92
3  2016–17    37     74
4  2017–18    34     68
Table 11:
0   Season     Player(s) Nationality    Club(s) Goals
0  2008–09  Lionel Messi              Barcelona     9
1  2009–10  Lionel Messi              Barcelona     8
2  2010–11  Lionel Messi              Barcelona    12
3  2011–12  Lionel Messi              Barcelona    14
4  2014–15        Neymar              Barcelona    10
Table 12:
0 Rank              Player   Goals Apps Ratio         Years  \
0    1   Cristiano Ronaldo  140[a]  183  0.77     2003–2022
1    2        Lionel Messi     129  163  0.79     2005–2023
2    3  Robert Lewandowski      91  111  0.82  2011–present
3    4       Karim Benzema      90  152  0.59     2005–2023
4    5                Raúl      71  142   0.5     1995–2011

0                                  Club(s)
0     Manchester UnitedReal MadridJuventus
1             BarcelonaParis Saint-Germain
2  Borussia DortmundBayern MunichBarcelona
3                          LyonReal Madrid
4                    Real MadridSchalke 04
Table 13:
0   Season Goals Matches  Ratio
0  2009–10    34      35  0.971
1  2011–12    50      37  1.351
2  2012–13    46      32  1.438
3  2016–17    37      34  1.088
4  2017–18    34      36  0.944
Table 14:
0 Rank             Player Goals Apps  Ratio      Years  \
0    1       Lionel Messi   474  520  0.912  2004–2021
1    2  Cristiano Ronaldo   311  292  1.065  2009–2018
2    3        Telmo Zarra   251  277  0.906  1940–1955
3    4      Karim Benzema   238  439  0.542  2009–2023
4    5       Hugo Sánchez   234  347  0.674  1981–1994

0                                   Club(s)
0                                 Barcelona
1                               Real Madrid
2                           Athletic Bilbao
3                               Real Madrid
4  Real MadridRayo VallecanoAtlético Madrid
Table 15:
0 No.              For      Against                Result      Competition  \
0   1        Barcelona  Real Madrid               3–3 (H)  2006–07 La Liga
1   2  Atlético Madrid      3–1 (A)  2008–09 Copa del Rey   6 January 2009
2   3         Tenerife      5–0 (A)       2009–10 La Liga  10 January 2010
3   4         Valencia      3–0 (H)       2009–10 La Liga    14 March 2010
4   5         Zaragoza      4–2 (A)       2009–10 La Liga    21 March 2010

0           Date
0  10 March 2007
1           None
2           None
3           None
4           None
Table 16:
0        Season                     Category  \
0    Goalkeeper                    Defenders
1  2014–15[205]    Claudio Bravo (Barcelona)
2  2015–16[206]  Jan Oblak (Atlético Madrid)

0                                               None  \
0                                        Midfielders
1  Dani Alves (Barcelona)  Nicolás Otamendi (Vale...
2  Sergio Ramos (Real Madrid)  Diego Godín (Atlét...

0                                               None  \
0                                           Forwards
1  Grzegorz Krychowiak (Sevilla)  Ivan Rakitić (B...
2  Andrés Iniesta (Barcelona)  Sergio Busquets (B...

0                                               None
0                                               None
1  Cristiano Ronaldo (Real Madrid)  Lionel Messi ...
2  Cristiano Ronaldo (Real Madrid)  Lionel Messi ...
Table 17:
0  Year                Winner(s)                     Nominees  \
0  2010   Usain Bolt (Athletics)  Kenenisa Bekele (Athletics)
1  2011    Rafael Nadal (Tennis)     Kobe Bryant (Basketball)
2  2012  Novak Djokovic (Tennis)       Usain Bolt (Athletics)
3  2013   Usain Bolt (Athletics)         Mo Farah (Athletics)
4  2016  Novak Djokovic (Tennis)       Usain Bolt (Athletics)

0                        None                          None  \
0  Alberto Contador (Cycling)        Roger Federer (Tennis)
1   Andrés Iniesta (Football)       Lionel Messi (Football)
2       Cadel Evans (Cycling)       Lionel Messi (Football)
3     Lionel Messi (Football)     Michael Phelps (Swimming)
4  Stephen Curry (Basketball)  Lewis Hamilton (Formula One)

0                            None                            None
0         Lionel Messi (Football)  Valentino Rossi (Motorcycling)
1         Manny Pacquiao (Boxing)  Sebastian Vettel (Formula One)
2      Dirk Nowitzki (Basketball)  Sebastian Vettel (Formula One)
3  Sebastian Vettel (Formula One)       Bradley Wiggins (Cycling)
4         Lionel Messi (Football)            Jordan Spieth (Golf)
Table 18:
0         Edition        Player       Team Ref(s)
0    2009 Rome[q]  Lionel Messi  Barcelona  [221]
1            Xavi     Barcelona      [222]   None
2  2011 London[r]  Lionel Messi  Barcelona  [223]
3    Lionel Messi     Barcelona      [224]   None
Table 19:
0       Edition        Player       Team      Ref(s)
0   2009 Monaco  Lionel Messi  Barcelona  [225][226]
1  2015 Tbilisi  Lionel Messi  Barcelona       [227]
Table 20:
0     Edition          Name       Team Ref(s)
0    2009 UAE  Lionel Messi  Barcelona
1  2011 Japan  Lionel Messi  Barcelona
Table 21:
0 Rank        Player        Match Awards
0   14  Lionel Messi  Greece (GS)      1
Table 22:
0 Rank        Player                        Matches Awards
0    1  Lionel Messi  Bolivia (GS), Costa Rica (GS)      2
Table 23:
0             Rank                                        Player  \
0                1                                  Lionel Messi
1                2                                  Keylor Navas
2     Arjen Robben       Australia (GS), Chile (GS), Brazil (TP)
3  James Rodríguez  Greece (GS), Ivory Coast (GS), Uruguay (R16)

0                                            Matches Awards
0  Bosnia and Herzegovina (GS), Iran (GS), Nigeri...      4
1       England (GS), Greece (R16), Netherlands (QF)      3
2                                               None   None
3                                               None   None
Table 24:
0 Rank        Player                                            Matches Awards
0    1  Lionel Messi  Paraguay (GS), Uruguay (GS), Colombia (QF), Pa...      4
Table 25:
0            Rank                    Player  \
0               1              Lionel Messi
1               2              David Ospina
2  Eduardo Vargas  Panama (GS), Mexico (QF)
3  Enner Valencia     Peru (GS), Haiti (GS)

0                                          Matches Awards
0  Panama (GS), Venezuela (QF), United States (SF)      3
1                    Peru (QF), United States (TP)      2
2                                             None   None
3                                             None   None
Table 26:
0 Rank        Player         Match Awards
0    9  Lionel Messi  Nigeria (GS)      1
Table 27:
0 Rank        Player       Match Awards
0    8  Lionel Messi  Qatar (GS)      1
Table 28:
0 Rank        Player                                            Matches Awards
0    1  Lionel Messi  Chile (GS), Uruguay (GS), Bolivia (GS), Ecuado...      4
Table 29:
0 Rank        Player      Match Award
0    1  Lionel Messi  Italy (F)     1
Table 30:
0 Rank        Player                                              Match Awards
0    1  Lionel Messi  Mexico (GS), Australia (R16), Netherlands (QF)...      5

The Dataframes list is:
- dfs[0]: Collective awards
- dfs[2]: Selections for the best player or forward
- dfs[3]: Top goalscorer
- dfs[4]: Goal of the competition
- dfs[5]: Top assist provider
- dfs[6]: Inclusions in theoretical teams
- dfs[7]: Selections for international sportsperson of the year
- dfs[8]: International man of the match awards
- dfs[11]: Goalscoring statistics / Club
- dfs[12]: Goalscoring statistics / Country

## Data Transformation

In [96]:
# Omit irrelevant columns
dfs[0] = dfs[0][['Season / year','Competition','Club / national team']]

In [97]:
# Custom function to fill with the last name if the value is a number
df = dfs[0]

# Function to check if a string contains only digits
def is_valid_name(name):
    return not name.isdigit()

# Function to clean the "Club / National team" column
def clean_club_name(row):
    club_name = row["Club / national team"]
    
    # Check if the value is an empty string or not a string
    if not isinstance(club_name, str) or not club_name.strip():
        return club_name
    
    # Use regular expression to find text between square brackets
    match = re.search(r'\[(.*?)\]', club_name)
    
    # If a match is found and it's not a valid name, replace it with a blank
    if match and not is_valid_name(match.group(1)):
        return ""
    
    return club_name

# Apply the cleaning function to the "Club / National team" column
df["Club / national team"] = df.apply(clean_club_name, axis=1)

# Replace empty strings with NaN
df["Club / national team"].replace("", np.nan, inplace=True)

# Fill NaN values with the last non-NaN value from up to down
df["Club / national team"].fillna(method='ffill', inplace=True)

# Delete rows with specified values in the "Competition" column (case-insensitive)
values_to_delete = ["runner-up", "fourth place", "third place", "second place"]
df = df[~df["Competition"].str.contains('|'.join(values_to_delete), case=False)]

# Reset the index after filtering rows
df.reset_index(drop=True, inplace=True)

# Function to assign points based on the "Competition" column
def assign_points(competition):
    if "UEFA Champions League" in competition \
    or "FIFA World Cup" in competition \
    or "Copa América" in competition \
    or "UEFA European Championship" in competition:
        return 3
    else:
        return 1

# Apply the assign_points function to create a new "Points" column
df["Points"] = df["Competition"].apply(assign_points)

# Print the updated DataFrame
df

C:\Users\artur\AppData\Local\Temp\ipykernel_8844\499054203.py:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Points"] = df["Competition"].apply(assign_points)

0  Season / year                     Competition Club / national team  Points
0        2004–05                         La Liga            Barcelona       1
1           2005             FIFA U-20 World Cup        Argentina U20       1
2           2005             Supercopa de España            Barcelona       1
3        2005–06                         La Liga            Barcelona       1
4        2005–06           UEFA Champions League            Barcelona       3
5           2006             Supercopa de España            Barcelona       1
6           2008                 Summer Olympics    Argentina Olympic       1
7        2008–09                         La Liga            Barcelona       1
8        2008–09                    Copa del Rey            Barcelona       1
9        2008–09           UEFA Champions League            Barcelona       3
10          2009             Supercopa de España            Barcelona       1
11          2009                  UEFA Super Cup            Barcelona       1
12          2009             FIFA Club World Cup            Barcelona       1
13       2009–10                         La Liga            Barcelona       1
14          2010             Supercopa de España            Barcelona       1
15       2010–11                         La Liga            Barcelona       1
16       2010–11           UEFA Champions League            Barcelona       3
17          2011             Supercopa de España            Barcelona       1
18          2011                  UEFA Super Cup            Barcelona       1
19          2011             FIFA Club World Cup            Barcelona       1
20       2011–12                    Copa del Rey            Barcelona       1
21       2012–13                         La Liga            Barcelona       1
22          2013             Supercopa de España            Barcelona       1
23       2014–15                         La Liga            Barcelona       1
24       2014–15                    Copa del Rey            Barcelona       1
25       2014–15           UEFA Champions League            Barcelona       3
26          2015                  UEFA Super Cup            Barcelona       1
27          2015             FIFA Club World Cup            Barcelona       1
28       2015–16                         La Liga            Barcelona       1
29       2015–16                    Copa del Rey            Barcelona       1
30          2016             Supercopa de España            Barcelona       1
31       2016–17                    Copa del Rey            Barcelona       1
32       2017–18                         La Liga            Barcelona       1
33       2017–18                    Copa del Rey            Barcelona       1
34          2018             Supercopa de España            Barcelona       1
35       2018–19                         La Liga            Barcelona       1
36       2020–21                    Copa del Rey            Barcelona       1
37          2021                    Copa América            Argentina       3
38       2021–22                         Ligue 1  Paris Saint-Germain       1
39          2022  CONMEBOL–UEFA Cup of Champions            Argentina       1
40          2022           Trophée des Champions  Paris Saint-Germain       1
41          2022                  FIFA World Cup            Argentina       3
42       2022–23                         Ligue 1  Paris Saint-Germain       1
43          2023                     Leagues Cup          Inter Miami       1

In [98]:
# Calculate the sum of points for Cristiano Ronaldo
total_points = df["Points"].sum()

# Create a new DataFrame
summary_df = pd.DataFrame({
    "Player": ["Cristiano Ronaldo"],
    "Collective Title": [total_points]
})

summary_df

              Player  Collective Title
0  Cristiano Ronaldo                56

In [99]:
# Custom function to fill with the last name if the value is a number
df = dfs[2]

# Rename a specific column
df = df.rename(columns={'Organisations[k]': 'Organisations'})

# Omit irrelevant columns
df = df[['Organisations','Category','Edition / year','Result']]

# Delete rows with specified values in the "Competition" column (case-insensitive)
df = df[df["Result"] == 'Won']

# Reset the index after filtering rows
df.reset_index(drop=True, inplace=True)

# Function to assign points based on the "Competition" column
def assign_points(organizations):
    if "Ballon d'Or Gala" in organizations \
    or "FIFA" in organizations:
        return 3
    else:
        return 1

# Apply the assign_points function to create a new "Points" column
df["Points"] = df["Organisations"].apply(assign_points)

# Print the updated DataFrame
df

KeyError: "None of [Index(['Organisations', 'Category', 'Edition / year', 'Result'], dtype='object', name=0)] are in the [columns]"

In [ ]:
# Create a new DataFrame
summary_df["Individual honours"] = df["Points"].sum()

summary_df['Total Honours'] = summary_df['Collective Title'] + summary_df['Individual honours']

summary_df